# Environment
NODE_ENV=development
PORT=3333

# Redis ( Ainda não botei )
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# App
API_URL=
APP_SECRET=
MAIL_PASS=
MAIL_ADRESS=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=chama
DB_SSL=false